<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="wrapp"></div>
        <div class="burger__btn ">
            <button onclick="burgerMenuHandler()">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <div class="logo">
            <h1>
                <a href="index.html">
                    Федеральная территория «Сириус»
                </a>
            </h1>
        </div>
        <ul>

            
            <li class="to__main__page"><a href="">
                <img width="180" height="35" src="img/tomainpage.webp" alt="">
            </a></li>
            <li>
                <span>О ФТ «Сириус»</span>
                <a href="">О ФТ «Сириус»</a>
                <ul class="submenu">
                    <li><a href="">Общая информация</a></li>
                    <li><a href="">Устав</a></li>
                    <li><a href="">Символика</a></li>
                </ul>
            </li>
            <li>
                <span>Власть</span>
                <a href="">Власть</a>
                <ul class="submenu">
                    <li><a href="sovet.html">Совет</a></li>
                    <li><a href="administration.html">Администрация</a></li>
                </ul>
            </li>
            <li>
                <span>Документы</span>
                <a href="">Документы</a>
                <ul class="submenu">
                    <li><a href="">Документы Совета</a></li>
                    <li><a href="">Документы о Совете</a></li>
                    <li><a href="docs-adm.html">Документы администрации</a></li>
                    <li><a href="">Документы ТИК</a></li>
                    <li><a href="">Документы КСП</a></li>
                </ul>
            </li>
            <li>
                <span>Развитие</span>
                <a href="">Развитие</a>
                <ul class="submenu">
                    <li><a href="education.html">Образование и наука</a></li>
                    <li><a href="">Культура</a></li>
                    <li><a href="">Спорт</a></li>
                    <li><a href="">Туризм</a></li>
                    <li><a href="">Бизнес</a></li>
                    <li><a href="">Благоустройство</a></li>
                    <li><a href="">Здоровье</a></li>
                    <li><a href="">Архитектура и градостроительство</a></li>
                    <li><a href="">ЖКХ</a></li>
                    <li><a href="">Транспорт</a></li>
                </ul>
            </li>
            <li>
                <span>Жителям</span>
                <a href="">Жителям</a>
                <ul class="submenu">
                    <li><a href="">Инфраструктура</a></li>
                    <li><a href="">Полезные контакты</a></li>
                    <li><a href="">«Сириус» против COVID-19</a></li>
                    <li><a href="">Вопросы-ответы</a></li>
                </ul>
            </li>
            <li>
                <a href="news.html">Новости</a>
            </li>
            <li>
                <a href="afisha.html">Афиша</a>
            </li>
            <li>
                <a href="">Обратная связь</a>
                <span>Обратная связь</span>
                <ul class="submenu">
                    <li><a href="">Контакты по направлениям</a></li>
                    <li><a href="">Прием граждан: Совет</a></li>
                    <li><a href="">Прием граждан: Администрация</a></li>
                </ul>
            </li>
            <li><a href="">En</a></li>

        </ul>
    </nav>
</body>
</html>